@inject IJSRuntime js

<button class="btn btn-primary" @onclick="Print">@ButtonText</button>

<div id="printable-content" class="py-3" style="display:@(ShowPrintableContent ? "show" : "none")">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string ButtonText { get; set; } = "Print";
    [Parameter]
    public string PageName { get; set; } = "Print";
    [Parameter]
    public bool ShowPrintableContent { get; set; }

    protected async Task Print()
    {
        await js.InvokeVoidAsync("print", PageName);
    }
}
